main {
  display: grid;
  min-height: 100svh;
  grid-template-rows: 10rem 5rem 1fr;
  gap: 0.5rem;
  width: 100%;
  padding-bottom: 2rem;
}

.women-title {
  display: grid;
  place-content: center;
  font-size: 1rem;
  font-family: var(--title);
  color: #2e3532;
}

.women-filter {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}

.filter-input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: 1px solid #7e9181;
  font-family: var(--font-family);
  padding-left: 0.5rem;
}

.women-filter > form {
  display: flex;
  gap: 1rem;

  & label {
    display: grid;
    place-content: center;
    font-size: 0.9rem;
    font-family: var(--font-family);
  }
}

.add-new {
  font-size: 1.4rem;
  color: rgba(15, 107, 15, 0.832);
  background-color: rgba(0, 0, 0, 0.094);
  padding: 0.5rem;
  border-radius: 50%;
}

.women-list {
  display: grid;
  width: 100%;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 10rem));
}
