.update-modal {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.348);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.update-modal_opened {
  width: 30rem;
  height: 30rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.617);
  border-radius: 0.2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem 1rem;
}

.update-modal_opened > form {
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr) 2fr;
  gap: 1rem;

  & label {
    display: grid;
    grid-template-columns: 10rem 1fr;
    place-content: center;
    font-family: var(--font-family);
    text-align: center;
    font-size: 0.9rem;
  }
}

.update-modal_opened > form input {
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  font-family: var(--font-family);
  padding-left: 0.5rem;
  outline: none;
}

.update-modal_opened > form textarea {
  height: 3.5rem;
  outline: none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 0.3rem;
  resize: none;
  font-family: var(--font-family);
}

.submit-btn {
  display: grid;
  justify-content: end;
  align-items: center;

  & input[type="submit"] {
    width: 30rem;
    height: 3rem;
    font-family: var(--font-family);
  }
}
